@media screen and (min-width: 720px) {
  .example {
    font-size: 46px;
  }
}
@media screen and (max-width: 1080px) {
  .example {
    text-align: center;
    font-size: 40px;
  }
}
.example {
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 720px) {
  .example1 {
    font-size: 53px;
  }
}
@media screen and (max-width: 1080px) {
  .example1 {
    text-align: center;
    font-size: 40px;
  }
}
.example1 {
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 720px) {
  .example2 {
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
  }
}
@media screen and (max-width: 1080px) {
  .example2 {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    align-items: center;
    font-size: 40px;
  }
}
.example2 {
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 720px) {
  .example3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 1080px) {
  .example3 {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    border-radius: 33.5px;
    width: 200px;
    height: 85.17px;
    left: 200px;
    top: 200px;
  }
}
.example3 {
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 720px) {
  .btndaftar {
    width: 423px;
    height: 85.17px;
    left: 508px;
    top: 399.92px;
    background: #faaa42;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.04);
    border-radius: 33.5px;
    font-style: normal;
    font-weight: bold;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1080px) {
  .btndaftar {
    width: 200px;
    height: 85.17px;
    left: 508px;
    top: 399.92px;
    background: #faaa42;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.04);
    border-radius: 33.5px;
    font-style: normal;
    font-weight: bold;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.btndaftar {
  font-family: "Poppins", sans-serif;
}
.Footer {
  background: #fef6f2;
}
.Fontt {
  font-size: 20px;
  text-align: justify;
}
.Fontt2 {
  font-size: 20px;
}
.Fontt3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
}
.Pendaftaran {
  background-image: url(img/Line\ Accent.png);
}
